{% if site.hal_import %}
 <p><object style="width:100%; height:2500px;" type="text/html" data="https://haltools.inria.fr/Public/afficheRequetePubli.php?idHal=anne-josiane-kouam&amp;CB_auteur=oui&amp;CB_titre=oui&amp;CB_article=oui&amp;langue=Anglais&amp;tri_exp=annee_publi&amp;tri_exp2=typdoc&amp;tri_exp3=date_publi&amp;ordre_aff=TA&amp;Fen=Aff&amp;css=../css/VisuRubriqueEncadre.css"></object></p>
{% endif %}
